/* Estilos CSS para el formulario */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    text-align: center;
    height: 55px;
    background: rgb(2,0,36);
    background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgb(214, 24, 24) 0%, rgb(153, 63, 63) 84%);
    color: #fff;
}

header img{
    margin-left: 15em;
    margin-top: 4px;
}

header h1{
    width: 100%;
    height: 55px;
    font-weight: 600;
    margin-left: -8em;
    line-height: 1.8;
}



h1, h2 {
    margin: 0;
    padding: 2px 0;
    text-align: center;
}


label {
    display: block;
    margin-top: 1.8em;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="button"] {
    background-color:rgb(153, 63, 63)
}

input[type="button"]:hover {
    background-color:rgba(153, 63, 63, 0.678)
}

input[type="submit"]{
    background-color: rgb(214, 24, 24);
}

input[type="submit"]:hover {
    background-color: rgba(214, 24, 24, 0.726);
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    border: 2.5px solid #3333338a;
    border-radius: 10px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 2.5px solid #3333338a;
    
}

td {
    color: #333;
    font-weight: 600;
}

th {
    background-color: #af4c4c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: #cccccc8f;
}

tr:nth-child(odd){
    background-color: #fff;
}

.tabla-container {
    margin: 2em;
}


.boton-container {
    margin-block: 30px 0;
}

.listado-servicios{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0;
    margin: 5em 0;
}

.listado-servicios .divMedicos, .divPacientes{
    box-shadow: 0px 0px 12px -1px rgb(129, 70, 70);
    border-radius: 10px;
    cursor: pointer;
    width: 27%;
    height: 62.7vh;
} 

.listado-servicios .divMedicos:hover, .divPacientes:hover{
    transform: scale(1.1);
    background-color: rgba(250, 235, 215, 0.473);
} 

.divMedicos li, .divPacientes li{
    margin: 1em 1em 2em;
    list-style: none;
}

.divMedicos a:hover, .divPacientes a:hover{
    color: rgb(153, 63, 63) ;
}

.listado-servicios a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    margin: 0.5em;
    font-size: 22px;
}

/* css formularios */

#registro-pacientes-formulario, #registro-medicos-formulario{
    width: 45%;
    margin: 3em auto;
    padding: 2em;
    box-shadow: 0px 0px 5px 1px rgb(129, 70, 70);
    border-radius: 10px;
    color: #333;
}

.boton-container{
    display: flex;
    justify-content: space-between;
}

input[type="submit"] {
    margin-right: 1em;
}

/* css iconos */

.iconoDoc, .iconoPac{
    width: 25%;
    margin: 3em 3em 1em;
    background: #333;
    padding: 1em 1em;
    border-radius: 100%;
}

footer{ 
    height: 30px;
}

footer p{
    margin: auto;
    font-weight: 600;
}

/* css responsive */

@media (max-width: 425px) {
    header img {
        margin-left: 1em;
    }
    
    header h1 {
        font-size: 18px;
        line-height: 2.8;
        margin-left: -1em;
    }
    
    .listado-servicios {
        display: block;
    }
    
    .listado-servicios .divMedicos, .divPacientes {
        width: 86%;
        margin: 0 auto 2em;
        height: 66.7vh;
    }
    
    #registro-pacientes-formulario, #registro-medicos-formulario {
        width: 78%;
    }
}

@media (max-width: 375px){
    header h1 {
        font-size: 14px;
        line-height: 3.5;
        margin-left: -1em;
    }
}